* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body, h1, h2, p, a, button {
  font-family: 'Arial', sans-serif;
  color: #000;
  text-align: center; }

body {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; }

.wrapper {
  display: flex;
  width: 80%;
  max-width: 1200px;
  min-height: 600px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  overflow: hidden; }

.welcome-section {
  flex-basis: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .welcome-section .welcome-image {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px; }
  .welcome-section h1 {
    margin-bottom: 20px;
    font-size: 3em; }
  .welcome-section .message {
    font-size: 1.2em; }

.login-section {
  flex-basis: 50%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px; }
  .login-section .login-container {
    max-width: 400px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .login-section .login-container h2 {
      font-size: 2.5em;
      color: #000;
      margin: 0 0 10px; }
    .login-section .login-container .login-message {
      font-size: 1.5em;
      margin-bottom: 30px; }
    .login-section .login-container .login-button {
      background-color: #000;
      color: #fff;
      padding: 15px 30px;
      border-radius: 8px;
      font-weight: bold;
      font-size: 1.2em;
      text-decoration: none;
      display: block;
      width: 100%;
      box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
      transition: background-color 0.3s ease, box-shadow 0.3s ease; }
      .login-section .login-container .login-button:hover {
        background-color: #1a1a1a;
        box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.3); }

@media (max-width: 768px) {
  .wrapper {
    flex-direction: column;
    width: 95%;
    min-height: initial;
    margin: 20px; }
  .welcome-section,
  .login-section {
    flex-basis: auto; }
  h1 {
    font-size: 2.5em; }
  .login-container {
    padding: 20px; } }

.carousel-container {
  position: relative;
  margin: auto;
  max-width: 1200px; }

.carousel {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px 0;
  overflow: hidden; }

.box {
  width: 30%;
  margin: 20px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); }

.indicators {
  display: flex;
  justify-content: center;
  margin: 10px 0; }
  .indicators .dot {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #bbb;
    margin: 0 5px;
    cursor: pointer;
    transition: background-color 0.3s; }
    .indicators .dot.active {
      background-color: #717171; }

#start-ocr {
  background-color: #000;
  color: #fff;
  padding: 15px 30px;
  border-radius: 5px;
  font-size: 1.8em;
  margin: 20px 0;
  cursor: pointer;
  border: none;
  outline: none;
  transition: background-color 0.3s, box-shadow 0.3s; }
  #start-ocr:hover {
    background-color: black;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); }

@media (max-width: 768px) {
  .carousel {
    flex-direction: column; }
  .box {
    width: 80%;
    margin: 10px auto; }
  .indicators, #start-ocr {
    width: 80%;
    margin: 10px auto; } }

.content-container {
  text-align: center;
  background-color: #fff;
  padding: 20px; }

.content-boxes {
  display: flex;
  justify-content: space-around;
  /* Adjusted to space-around for better distribution */
  flex-wrap: wrap;
  /* Allows items to wrap if needed */
  margin-bottom: 20px; }

.content-box {
  width: calc(100% / 3 - 30px);
  /* Adjusted width to accommodate 3 boxes in a row */
  padding: 80px;
  /* Increased padding to make box 4 times larger. Adjust as necessary */
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  margin-bottom: 20px;
  /* Added for spacing between box and dots */
  position: relative;
  /* For positioning dots relative to the boxes */ }

.indicators {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  /* Centered indicators */
  flex-wrap: wrap;
  /* Allow indicators to wrap if needed */ }

.dot {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #bbb;
  margin: 5px;
  /* Adjusted margin for spacing */
  cursor: pointer; }

.dot.active {
  background-color: #717171; }

/* Position dots directly below each content box */
/* This assumes each .content-box now wraps its corresponding .dot(s) */
/* If .dot cannot be nested inside .content-box in your HTML, this approach needs adjusting */
.content-box + .indicators {
  /* Adjust this selector based on your HTML structure */
  position: absolute;
  bottom: -25px;
  /* Adjust as needed */
  left: 50%;
  transform: translateX(-50%);
  display: flex; }

@media (max-width: 768px) {
  .content-boxes {
    flex-direction: column; }
  .content-box {
    width: 80%;
    /* Full width on mobile with some margin */
    margin: 10px auto;
    padding: 40px;
    /* Adjust padding for mobile */ }
  /* Ensure dots are still positioned correctly on mobile */
  .content-box + .indicators {
    position: static;
    transform: none;
    margin-top: 10px; } }
