<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Auth0 Example</title>
</head>
<body>
    {% if error_info %}
        <div class="error-message">
            <h2>An error occurred</h2>
            <p>We're sorry, but something went wrong. Please try again later.</p>
            <pre>{{ error_info }}</pre>
        </div>
    {% elif session %}
        <h1>Welcome {{ session.userinfo.name }}!</h1>
        <p><a href="/logout" id="qsLogoutBtn">Logout</a></p>
        <div><pre>{{ pretty }}</pre></div>
        <form action="{{ url_for('hello') }}" method="post">
            <label for="name">Enter your name:</label>
            <input type="text" id="name" name="name">
            <input type="submit" value="Submit">
        </form>
    {% else %}
        <h1 id="profileDropDown">Welcome Guest</h1>
        <p><a href="/login" id="qsLoginBtn">Login</a></p>
    {% endif %}
</body>
</html>
