    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>OCR Selection Page</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/ocr_selection_hub_style.css') }}">
    </head>
    <body>
        <div class="content-container">
            <!-- Content Box 1 with Dot and Image -->
            <div class="box-container">
                <div class="content-box">
                    <img src="{{ url_for('static', filename='images/openai.png') }}" alt="OpenAI" class="box-image">
                    OpenAI
                </div>
                <div class="indicators">
                    <span class="dot" onclick="selectDot(0)"></span>
                </div>
            </div>
            <!-- Content Box 2 with Image and Dot -->
            <div class="box-container">
                <div class="content-box">
                    <img src="{{ url_for('static', filename='images/google.png') }}" alt="Google" class="box-image">
                    Google
                </div>
                <div class="indicators">
                    <span class="dot" onclick="selectDot(1)"></span>
                </div>
            </div>
            <!-- Content Box 3 with Image and Dot -->
            <div class="box-container">
                <div class="content-box">
                    <img src="{{ url_for('static', filename='images/azure.png') }}" alt="Azure" class="box-image">
                    Azure
                </div>
                <div class="indicators">
                    <span class="dot" onclick="selectDot(2)"></span>
                </div>
            </div>
            <!-- Add more content boxes and dots as needed -->
            <form action="{{ url_for('ocr_chat') }}" method="POST">
                <div class="content-container">
                    <!-- Content Boxes with Dots here -->
                    <input type="hidden" name="selected_option" id="selected_option" value="">
                    <button type="submit" id="start-ocr">Start OCR</button>
                </div>
            </form>
            
        </div>

        <script src="{{ url_for('static', filename='js/carousel.js') }}"></script>
    </body>
    </html>
